

.sidemenu {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px; 
    overflow-y: auto; 
    transition: transform 0.3s ease; 
  }
  
  .sidemenu.collapsed {
    transform: translateY(100%); /* Ocultar el menú en dispositivos móviles */
  }

  .bottom-menu{
    display: none;
  }


  
  @media screen and (max-width: 768px) {
    .sidemenu {
      width: 100%; 
      height: auto;
      transform: translateY(100%); 
      z-index: 1000; 
    }
  
    .sidemenu.collapsed {
      transform: translateY(0); 
    }

    .bottom-menu {
        height: 80px;
        display: block; 
        z-index: 1000; 
      }
  }